/*https://fonts.google.com/*/
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@1,500&display=swap');/*need to change font of style*/


* {
  padding:  0;
  margin: 0;
  box-sizing: border-box;

}

html{
  font-size: 10px;
  font-family: 'Mali', sans-serif; /*need to change font of style*/
  scroll-behavior: smooth;
  background-color: #f0f1f2;
}
a {
  text-decoration: none;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
p {
  color:  #322453;
  font-size: 1.4rm;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: .05rem;
}
.section-title{
  font-size: 4rem;
  font-weight: 300 ;
  color:  #322453;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-align: center;
}

/*inside one syllable color*/
.section-title span{
  color:  #9d8bd5;
}

/*button: resume and portfoloi*/
.cta{
  display: inline-block;
  padding: 10px 30px;
  color: #af517a;
  background-color: transparent;
  border: 2px solid #af517a;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 30px;
  transition: .3s ease;
  transition-property: background-color, color;

}

.cta:hover {
  color:  #f0f1f2;
  background-color: #af517a;

}


/*hero section*/
#hero {

  background-image: url(./background.png);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

#hero::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #322453;
  opacity: 0.5;
  z-index: -1;
}

/*it fixes the size of view*/
#hero .hero{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;

}
#hero h1{
  display: #32245;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: #f0f1f2;
  animation: text_reveal 1s ease forwards;
  animation-delay: 1s;

}
#hero h1:nth-child(1) {
  animation-delay: 1s;
}
#hero h1:nth-child(2) {
  animation: text_reveal_name .5s ease forwards;
  animation-delay: 2s;
}

#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #af517a;
  animation: text_reveal_box 1s ease;
  animation-delay: .3s;
}
#hero h1:nth-child(1)  span{
  animation-delay: .5s;
}
#hero h1:nth-child(2) span{
  animation-delay: 1.5s;
}



/* About Section */
#about .about {
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}
#about .col-left {
  width: 250px;
  height: 360px;
}
#about .col-right {
  width: 100%;
}
#about .col-right h2 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}
#about .col-right p {
  margin-bottom: 20px;
}

/*button*/
#about .col-right .cta {
  color: black;
  margin-bottom: 50px;
  padding: 10px 20px;
  font-size: 2rem;
}
#about .col-left .about-img {
  height: 100%;
  width: 100%;
  position: relative;
  border: 10px solid white;
}
#about .col-left .about-img::after {
  content: '';
  position: absolute;
  left: -33px;
  top: 19px;
  height: 98%;
  width: 98%;
  border: 7px solid crimson;
  z-index: -1;
}
/* End About Section */

/*end of hero section*/
/* Projects section */
#projects .projects {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
#projects .projects-header h1 {
  margin-bottom: 50px;
}
#projects .all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#projects .project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}
#projects .project-info {
  padding: 30px;
  flex-basis: 50%;
  height: 50%;
  width:  80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(60deg, #9d8bd5 0%, #f3aca1 100%);
  /*color: #f0f1f2;*/
}
#projects .project-info h1 {
  font-size: 4rem;
  font-weight: 500;
  color: #322453;
}
#projects .project-info h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 10px;
  color: #f0f1f2;
}
#projects .project-info p {
  color: #f0f1f2;
}
#projects .project-img {
  flex-basis: 80%;
  height: 50%;
  width: 80%;
  overflow: hidden;
  position: relative;
}

#projects .project-img:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #322453 0%, #010101 100%);
  opacity: 0.7;
}
#projects .project-img img {
  transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
  transform: scale(1.1);
}

/*end of project section*/




/*Serivces section*/
/*services inside*/
#services .services{
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}

#services .services-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

/*background pic for services*/
#services .service-item {
  flex-basis: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-image: url(./img/img-1.png);
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

/*services background hoveeer*/
#services .service-item::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #9d8bd5 0%, #f3aca1 100%);
  opacity: 0.9;
  z-index: -1;
}
#services .service-bottom .icon{
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}
#services .service-item h2 {
  font-size: 2rem;
  color: #322453;
  margin-bottom: 10px;
  text-transform: uppercase;
}


#services .service-item p{
  color:  #f0f1f2;
  text-align: left;
  
}
/*end of services section*/
/* contact Section */
#contact .contact {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}
#contact .contact-items {
  /* max-width: 400px; */
  width: 100%;
}
#contact .contact-item {
  width: 80%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 18px 0 #0000002c;
  transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
  box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
  width: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
}
#contact .contact-info h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}
#contact .contact-info h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
}
/*End contact Section */



/*keyframe*/
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }

}
@keyframes text_reveal {
  100% {
    color: #f0f1f2;
  }
}
@keyframes text_reveal_name {
  100% {
    color: #af517a;
    font-weight: 500;
  } 
}